#cubeHolder {
    background-color: white;
    height: 530px;
    width: 430px;
    border: 3px solid black;
}

.cube {
    width: 53px;
    height: 42px;
    float: left;
}

.purpleCube {
    background-image: url(/img/box.png);
}

.greenCube {
    background-image: url(/img/boxHome.png);
}

.ligthOrbArray {
    width: 165px;
    height: 15px;
    background-color: #4c0000;
    position: absolute;
    top: 142px;
    left: 182px;
}
.ligthOrb {
    width: 20.23px;
    float: left;
    height: 15px;
    transition: background-color 70ms;
}
.ligthOrbOn {
    background-color: #aa0000;
    box-shadow: 0 0 7px #4c0000 inset;
}
